body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightslategray;
}

.container{
    width: 1000px;
    height: 650px;
    background-image: url("c.jpg");
    background-size: cover;
    margin: 20px auto;
}

.calculator{
    width: 340px;
    height: 540px;
    background-color: aliceblue;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

.keyboard{
    height: 400px;


}

.operator,.number,.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    background-color: azure;
    
}

#result{
    height: 120px;
}


#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30;
}

#history{
    text-align: right;
    height: 50px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:gray ;

}

button:nth-child(4){
    font-size: 30px;
    background-color: coral;
}
button:nth-child(8){
    font-size: 30px;
    background-color: lightgreen;

}

button:nth-child(12){
    font-size: 30px;
    background-color: yellow;
    
}

button:nth-child(16){
    font-size: 30px;
    background-color: lightseagreen;
    
}

button:nth-child(20){
    font-size: 30px;
    background-color: lightskyblue;
    
}





