<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>REGISTERE</h3>
    
        </div>
        <div class="form1">
            <form action="/register" method="post">
                <div class="msg">{{msg}}</div>
                <div class="inputs">
                    <p>enter username</p>:<input type="text" id="username" name="username" placeholder="enter the name">
                    <p>enter password</p>:<input type="password" id="password" name="password" placeholder="enter the password">
                     <p>enter email</p>:<input type="email" id="email" name="email" placeholder="enter the email">
                </div>

                <button type="submit">

                </button>
            </form>
            <div class="msg">
                <p class="sign">you already have an account</p>
                <a href="/login">login</a></p>
            </div>
        </div>
    </div>
</body>
</html>